<html>
  <body>
    <h2>Facebook Message Problems</h2>
    <p>
      I've gotten a few reports of people not responding to facebook messages. It turns out that Facebook is silently hiding messages when you send a message to someone you're not friends with. You can <a href="https://www.facebook.com/messages/pending">view these hidden messages by clicking here</a>.
    </p>
    <p>
      If your match isn't responding to your facebook message, please add them as a friend on facebook and try again! You can find a link to their profile by clicking on their name when <a href="https://voteswap.us/user/profile/">viewing your potential matches</a>.
    </p>
    <h2>TrumpTraders.org</h2>
    <p>
      If your matches aren't responding late into the night, you should check out <a href="https://trumptraders.org">TrumpTraders.org</a>. They have several thousand users and you might have better luck there.
    </p>
    <h2>The election is tomorrow!</h2>
    <p>
      I can't wait for this whole thing to be over. Please don't forget to vote. If you don't know where your polling place is, just google <a href="https://g.co/kgs/Kh9xRA">where do I vote</a> and it'll locate it for you.
    </p>
    <h2>After the election</h2>
    <p>
      I'll send one follow-up email after the election asking if you want me to keep your email. The default will be that I will delete all user accounts within 30 days after the election. You won't keep getting spam from me :)
    </p>
  </body>
</html>
