.container-full {
  margin: 0 auto;
  padding-top: 0;
  width: 100%;
  max-width: 1158px;
}

.landing-page__header-image {
  background: #738ace url(/static/clinton.jpg) center top no-repeat;
  padding: 0;
  margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vw;
  max-height: 400px;
  max-width: 1158px;
  border-radius: 0px;
}

.landing-page__header-text {
  font: bold 2em sans-serif;
  color: #fff;
  background: #000;
  display: block;
  border-radius: 0px;
  width: 100%;
  margin: 0px;
  font-size: 3em;
}

.container-full > div > h1,h2,h3,h4,h5 {
  padding-left: 10px;
}

p {
  font-size: 2em;
}

.row {
  padding: 10px;
}

.join-now {
  padding: 30px;
}

button.join-now, a.join-now {
  background-image: none;
  background-color: #0A234E;
  font-size: 2em;
  display: block;
  padding: 10px;
}

.join-now > form > div > textarea {
  height: 100px;
}

.navbar-inverse {
  background-image: none;
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #0A234E;
  border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a  {
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
}

.footer p {
  padding: 20px;
}

/* Media overrides */
@media all and (max-width: 830px) {
    .landing-page__header-text {
        font-size: 2.5em;
    }
    p {
	font-size: 1.5em;
    }
}
@media all and (max-width: 670px) {
    .landing-page__header-text {
        font-size: 2em;
    }

}


/** Vote swap matching **/
div.match-image {
}

div.match-image h2, h3 {
  margin: 0;
  padding: 0;
}

div.match-image img {
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

div.match-info p {
  font: normal 1.5em sans-serif;
}

.proposed-content {
  display: none;
}

.proposed .proposed-content {
  display: block;
}

.proposed .not-proposed-content {
  display: none;
}
