.container-full {
  margin: 0 auto;
  padding-top: 0;
  width: 100%;
  max-width: 1158px;
  overflow-x: hidden;
}

.landing-page__header-image {
  background: #738ace url(/static/clinton.jpg) center top no-repeat;
  padding: 0;
  margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vw;
  max-height: 400px;
  max-width: 1158px;
  border-radius: 0px;
}

.landing-page__header-text {
  font: bold 2em sans-serif;
  color: #fff;
  background: #000;
  display: block;
  border-radius: 0px;
  width: 100%;
  margin: 0px;
  font-size: 3em;
}

.container-full > div > h1 {
  padding-left: 10px;
}

p {
  font-size: 2em;
}

.row {
  padding: 10px;
}

.join-now {
  padding: 30px;
}

.join-now > form > div > button {
  background-image: none;
  background-color: #0A234E;
  font-size: 2em;
  display: block;
  padding: 10px;
}

.join-now > form > div > textarea {
  height: 100px;
}

.navbar-inverse {
  background-image: none;
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #0A234E;
  border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a  {
  color: #fff;
}

/* Media overrides */
@media all and (max-width: 830px) {
    .landing-page__header-text {
        font-size: 2.5em;
    }
    p {
	font-size: 1.5em;
    }
}
@media all and (max-width: 670px) {
    .landing-page__header-text {
        font-size: 2em;
    }
}
