.container-full {
  margin: 0 auto;
  padding-top: 0;
  padding: 0;
  width: 100%;
  /*max-width: 1158px;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #34519f;
}

.no-gutter {
  padding-left:0;
}

.container-full div.row {
  padding: 0;
  margin: 0;
}

.not-fullscreen {
  max-width: 1200px;
  margin: 0 auto;
}

.jumbotron {
  background: #000;
  padding: 0px;
  margin-bottom: 10px;
}

.jumbotron .row {
  padding: 0px;
}

.header-image {
  background: #000 url('/static/hillarycloseup.jpg') bottom left no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding: 0;
  margin: 0 auto;
  height: 30vw;
  max-height: 400px;
  max-width: 1200px;
  /* For some reason, the border is required to avoid a gap above the picture */
  border: solid 1px #000;
}

.leader {
  color: #fff;
  font-size: 3em;
  background: transparent;
  width: 750px;
  margin-left: 33%;
  margin-top: 2%;
}

.leader i {
  text-decoration: underline;
  font-size: 0.8em;
}

.leader h1 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.leader h2 {
  font-size: 0.64em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.leader p {
  font-size: 0.5em;
  color: #fcfcfc;
}

.leader p.leader-description {
  padding-top: 8px;
  width: 80%;
}

.leader-content-below {
  display: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

p {
  font-size: 1.2em;
}

.landing-body h1 {
  margin-top: 10px;
  font-size: 1.5em;
}

.landing-body p {
  font-size: 1.2em;
}

.row {
  padding: 10px;
}

.join-now {
  padding-top: 0;
  margin: 0 auto;
}

button.join-now, a.join-now {
  background-image: none;
  background-color: #0A234E;
  font-size: 2em;
  display: block;
  padding: 10px;
}

.join-now > form > div > textarea {
  height: 100px;
}

.join-now > form > fieldset > legend {
  font-weight: bold;
  text-transform: uppercase;
  color: #34519f;
  padding-top: 20px;
}

.join-now > form div.checkbox {
  font-size: 1em;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  size: 21px;
}

.leader h2 {
  color: #fff;
  text-transform: none;
}

h3 {
  font-weight: normal;
  size: 21px;
  padding: none;
  margin: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.4em;
}

.navbar {
  background-image: none;
  margin-bottom: 0px;
  border-radius: 0px;
}

nav.navbar div.navbar-header a {
  color: #34519f;
}

nav.navbar-inverse div.navbar-header a {
  color: #fff;
}

nav.navbar span.icon-bar {
  background-color: #000 !important;
}

nav.navbar-inverse span.icon-bar {
  background-color: #fff !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  color: #fff;
  background-color: #000;
}

.footer p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

footer .navbar {
  margin-bottom: 0;
}

footer .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: 0;
}

footer .navbar a {
  color: #fff;
}

footer .navbar .navbar-collapse {
  text-align: center;
}

/* Media overrides */
@media all and (max-width: 1240px) {
  /*.leader {
    font-size: 2.5em;
    width: 650px;
    margin-left: 30vw;
  }*/
  .leader {
    width: auto;
  }
  .leader p.leader-description {
    width: 600px;
  }
}
@media all and (max-width: 1120px) {
  .leader {
    font-size: 2.8em;
    margin-left: 30vw;
  }
}
@media all and (max-width: 1050px) {
  .header-image {
    max-height: 500px;
    min-height: 300px;
    max-width: 900px;
  }
  .leader {
    padding-top: 40px;
    font-size: 2.2em;
    margin-left: 28vw;
  }
  .header-image h1 {
    padding-top: 0px;
  }
}

@media all and (max-width: 934px) {
  .join-now > form > fieldset > legend {
    font-size: 1.2em;
  }
}

@media all and (max-width: 930px) {
  .header-image {
    max-width: 780px;
  }
  .leader {
    font-size: 2em;
    width: 500px;
    margin-left: 250px;
    padding-top: 40px;
  }
  .leader h1 {
    margin-top: 0;
    padding-top: 10px;
  }
  .leader p.leader-description {
    font-size: 0.5em;
    width: 100%;
  }
}
@media all and (max-width: 830px) {
  .header-image {
    max-height: 400px;
  }
  .landing-page__header-text {
    font-size: 2.5em;
  }
}
@media all and (max-width: 768px) {
  .header-image {
    background-height: 250px;
  }
  .leader {
    margin-left: 250px;
  }
  .leader h1 {
    margin-top: 0;
  }
  .leader p.leader-description {
    font-size: 0.5em;
    width: 100%
  }
  .join-now > form > fieldset > legend {
    font-size: 1.5em;
  }
  .join-now textarea {
    height: 100px;
  }
}
@media all and (max-width: 750px) {
  .leader {
    width: 60%;
    padding-top: 15px;
    margin-top: 0;
  }
}

@media all and (max-width: 670px) {
  .col-md-6.match-info,.match,.well {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .landing-page__header-text {
    font-size: 2em;
  }
  .jumbotron .vertical-align {
    display: block;
  }
}

@media all and (max-width: 638px) {
  .leader {
    font-size: 2.5em;
    margin-left: 30vw;
    width: auto;
    padding-top: 6%;
  }
  .leader-content-top {
    display: none;
  }
  .leader-content-below {
    display: inline;
  }
  .header-image {
    min-height: 0;
    height: 30vw;
  }
}

@media all and (max-width: 520px) {
  .leader {
    font-size: 2em;
    padding-top: 6%;
  }
}

@media all and (max-width: 500px) {
  .leader {
    font-size: 2em;
    padding-top: 4%;
  }
}

@media all and (max-width: 425px) {
  .col-md-6.match-info,.match,.well {
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media all and (max-width: 412px) {
  .leader {
    font-size: 1.6em;
    padding-top: 4%;
  }
}

@media all and (max-width: 328px) {
  .leader {
    font-size: 1.5em;
    padding-top: 4%;
  }
}

/** Vote swap matching **/
div.profile-sidebar p {
  font-size: 1.5em;
}

@media (min-width: 992px) {
  div.profile-sidebar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

div.match-image {
}

div.match-image h2, div.match-image h3 {
  margin: 0;
  padding: 0;
}

div.match-image img {
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

div.match-info p {
  font: normal 1.5em sans-serif;
}

.proposed-content {
  display: none;
}

.proposed .proposed-content {
  display: block;
}

.proposed .not-proposed-content {
  display: none;
}

.share-states {
  font-size: 1.5em;
}

.share-states .stateface {
  width: 1.5em;
  display: inline-block;
}
