<div class="row">
  <h1>Let's not screw this up</h1>
  <div class="col-sm-12">
    <p>
      This is the most important election in decades. We can either let a
      bigoted, racist, xenophobic, unstable little dictator destroy our
      country. Or we can come together and elect someone with decades of
      experience in domestic and foreign policy, who listens to advice and
      has a calm, clear head. She may not be your favorite candidate, but
      she won't screw up the country. So do your part and don't screw it up
      either.
    </p>
  </div>
</div>
