<div class="row">
  <h1>How does it work?</h1>
  <div class="col-sm-10 pull-right">
    <p>
      When you join <a href="http://voteswap.us">voteswap</a> you will be
      matched with a voter in your Facebook friends network. Your
      match will be someone your know personally or a friend of a friend.
    </p>
    <p>
      You're limited to swapping with someone in your network because we
      think this will keep everyone honest. You can trust your friends to
      follow through on their pledge to swap and save the presidency.
    </p>
  </div>
  <div class="col-sm-2 pull-left">
    <img src="http://www.fillmurray.com/140/200" class='img-thumbnail' />
  </div>
</div>

<div class="row">
  <div class="col-sm-10 pull-left">
    <p>
      You can propose vote swaps with several friends. We automatically
      rank your friends by the impact. If you're in a safe state, friends in
      important swing states are shown first. If you're in a swing state,
      then friends in very safe states are shown first.
    </p>
    <p>
      After proposing swaps and talking to several friends, you can accept
      one swap. On election day we'll send you both an email to remind you
      who you're swapping with.
    </p>
  </div>
  <div class="col-sm-2 pull-right">
    <img src="http://www.fillmurray.com/140/200" class='img-thumbnail' />
  </div>
</div>
