{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}Vote Swap{% endblock %}</title>

   <!-- Bootstrap -->
   <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
   <link href="/static/css/fbposter.css" rel="stylesheet">
 </head>
 <body>
   {% include "_fb.js" %}
   {% block main %}{% endblock %}
   <div class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
   </div>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
 </body>
</html>
