{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block main %}
<div class="jumbotron">
  <div class="not-fullscreen">
    <div class="landing-page__header-image">
      <div class="row">
        <div class="col-md-6 leader pull-right">
          Vote your conscience <i>and</i> stop Trump
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="landing-page__header-text col-sm-12">
  <div class="not-fullscreen">
  Vote your conscience <i>and</i> stop Trump
  </div>
  </div>-->
<div class="not-fullscreen">
  <div class="row">
    <div class="col-md-8">
      <h1 id="make-your-vote-count">Make your vote count</h1>
      <p>
        Third party voters have all the power this election. Voting for Gary
        Johnson or Jill Stein in {{ swing_states }} will split the vote and
        make Clinton lose.
      </p>
      <p>
        Don't let Trump win, swap your vote! <b>Gary Johnson and Jill Stein
        voters in in swing states</b> are matched with <b>Clinton voters in
        safe states</b>. Johnson &amp; Stein get the same number of votes, and
        Trump loses. Don't split the vote like we did with Nader and Al Gore in
        2000.
      </p>
      <p>
        <a class="fb-feed-btn btn btn-primary btn-social btn-facebook">
          <span class="fa fa-facebook"></span> Share on facebook
        </a>
      </p>
    </div>
    <div id="join" class="col-md-4 join-now">
      <form class="form" method="POST" action="{% url "landing_page" %}">
        {% csrf_token %}
        {% bootstrap_form form size='large' %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-social btn-facebook btn-lg"><span class="fa fa-facebook"></span> Join with Facebook</button>
        {% endbuttons %}
      </form>
    </div>
  </div>

  {% include "_how_does_it_work.html" %}

  {% include "_dont_fuck_it_up.html" %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a role="button" class="btn btn-primary join-now" href="{% url "signup" %}">Join now!</a>
    </div>
  </div>
</div>
{% endblock %}
