{% extends 'base.html' %}

{% block main %}
<div class="not-fullscreen">
  <div class="row">
    <div class="col-sm-12">
      <h1>Privacy Policy</h1>
      <h3>Effective Oct 4, 2016</h3>
      <p>
      This Privacy Policy explains what information of yours will be collected
      by VoteSwap ("VoteSwap," "we," or "us") when you access the VoteSwap
      Service, how the information will be used, and how you can control the
      collection, correction and/or deletion of information. We will not use or
      share your information with anyone except as described in this Privacy
      Policy. This Privacy Policy does not apply to information we collect by
      other means (including offline) or from other sources. Capitalized terms
      that are not defined in this Privacy Policy have the meaning given them
      in our Terms of Service.
      </p>

      <h2>INFORMATION WE COLLECT</h2>
      <p>
      <b>Our Service:</b> We may collect personally identifiable information
      about you through our Service when you obtain an account, such as your
      name and email address. When you use our Service, your browser may send
      us certain information about you as described below. We do not send any
      promotional emails; however, we may send you service related emails
      related to your account.
      </p>

      <p>
      <b>Cookies Information:</b> We may send one or more cookies — a small
      text file containing a string of alphanumeric characters — to your
      computer that uniquely identifies your browser and lets us learn about
      your behavior and usage patterns when you are on our Service. We do not
      use cookies to collect personal information about you. A persistent
      cookie remains on your hard drive after you close your browser.
      Persistent cookies may be used by your browser on subsequent visits to
      the Service. Persistent cookies can be removed by following your web
      browser's directions. A session cookie is temporary and disappears after
      you close your browser. You can reset your web browser to refuse all
      cookies or to indicate when a cookie is being sent.
      </p>

      <p>
      <b>Log File Information:</b> Log file information is automatically
      reported by your browser each time you access a web page on our Service.
      When you access the Service, our servers automatically record certain
      information that your web browser sends whenever you visit any website.
      These server logs may include information such as your web request,
      Internet Protocol ("IP") address, browser type, referring / exit pages
      and URLs, number of clicks, domain names, landing pages, pages viewed,
      and other similar information.
      </p>

      <p>
      <b>Clear Gifs Information:</b> When you access the Service, we may employ
      clear gifs (also known as web beacons) which are used to track the online
      usage patterns of our Users anonymously. We do not use these clear gifs
      to collect any personally identifiable information from your VoteSwap
      account. The information is used to enable more accurate reporting,
      improve the effectiveness of our Service, and make VoteSwap better for
      our Users.
      </p>

      <p>
      We do not use the technologies described above to collect personal
      information about you and use them only to collect data in the aggregate.
      </p>

      <h2>HOW WE USE YOUR INFORMATION</h2>
      <p>
      We use the information that we collect to operate and maintain our
      Service.
      </p>

      <p>
      We use cookies, clear gifs, and log file information to: (a) monitor the
      effectiveness of our Service; (b) monitor aggregate metrics such as total
      number of visitors, traffic, and demographic patterns; (c) diagnose or
      fix technology problems.
      </p>

      <h2>HOW WE SHARE YOUR INFORMATION</h2>
      <p>
      <b>Personally Identifiable Information:</b> VoteSwap will not rent or
      sell your personally identifiable information to others. We may store
      personal information in locations outside the direct control of VoteSwap
      (for instance, on servers or databases co-located with hosting
      providers). Any personally identifiable information you elect to make
      publically available on the Service will be available to other Users. If
      you remove information that you have made public on the Service, copies
      may remain viewable in cached and archived pages of the Service, or if
      other Users have copied or saved that information.
      </p>

      <p>
      <b>Non-Personally Identifiable Information:</b> We may share
      non-personally identifiable information (such as anonymous usage data,
      referring/exit pages and URLs, platform types, etc.) with interested
      third parties to help them understand the usage patterns for certain
      VoteSwap services. Non-personally identifiable information may be stored
      indefinitely.
      </p>

      <p>
      <b>Instances where we are required to share your information:</b>
      VoteSwap will disclose your information where required to do so by law or
      subpoena or if we reasonably believe that such action is necessary to (a)
      comply with the law and the reasonable requests of law enforcement; (b)
      to enforce our Terms of Service or to protect the security or integrity
      of our Service; and/or (c) to exercise or protect the rights, property,
      or personal safety of VoteSwap, our Users or others.
      </p>

      <p>
      <b>What happens in the event of a change of control:</b> We may buy or
      sell/divest/transfer the company (including any shares in the company),
      or any combination of its products, services, assets and/or businesses.
      Your information such as customer names and email addresses, and other
      User information related to the Service may be among the items sold or
      otherwise transferred in these types of transactions. We may also sell,
      assign or otherwise transfer such information in the course of corporate
      divestitures, mergers, acquisitions, bankruptcies, dissolutions,
      reorganizations, liquidations, similar transactions or proceedings
      involving all or a portion of the company.
      </p>

      <p>
      <b>Ads:</b> We may use Remarketing with Google Analytics to advertise
      online. In connection with this advertising, we, along with third-party
      business partners, use first-party cookies (such as the Google Analytics
      cookie) and third-party cookies (such as the DoubleClick cookie) to allow
      our third-party business partners, including Google, ad servers, and ad
      networks, to serve you advertisements (“ads”) based on your prior visits
      to our Service. These ads are delivered to you on third-party websites
      and services across the Internet. These third-party business partners use
      technology to send, directly to your browser or mobile device, the ads
      and ad links that appear on third-party sites, and will automatically
      receive your IP address when they do so. Along with cookies, they may
      also use other technologies (such as JavaScript, device identifiers,
      location data, and clear gifs, see above) to compile information about
      your browser’s or device’s visits and usage patterns on the Service, and
      to measure the effectiveness of their ads and to optimize and personalize
      the advertising content. VoteSwap does not sell, rent, or share the
      information we collect directly from you or about you from third parties
      with these third-party business partners for such parties’ own marketing
      purposes. You may opt out of the DoubleClick cookie by visiting the
      Google advertising opt-out page or you may opt out of Google Analytics by
      visiting the Google Analytics opt-out page. Google has additional
      information available about their Remarketing Privacy Guidelines,
      Policies, and Restrictions.
      </p>

      <p>
      The VoteSwap Privacy Policy does not apply to, and we cannot control the
      activities of, third-party ad servers and ad networks. Please contact or
      consult the respective privacy policies of such ad servers or ad networks
      for more information.
      </p>

      <h2>STORAGE AND PROCESSING</h2>
      <p>
      Your information collected through the Service may be stored and
      processed in the United States or any other country in which VoteSwap or
      its subsidiaries, affiliates or service providers maintain facilities.
      VoteSwap may transfer information that we collect about you, including
      personal information, to affiliated entities, or to other third parties
      across borders and from your country or jurisdiction to other countries
      or jurisdictions around the world. If you are located in the European
      Union or other regions with laws governing data collection and use that
      may differ from U.S. law, please note that we may transfer information,
      including personal information, to a country and jurisdiction that does
      not have the same data protection laws as your jurisdiction, and you
      consent to the transfer of information to the U.S. or any other country
      in which VoteSwap or its parent, subsidiaries, affiliates or service
      providers maintain facilities and the use and disclosure of information
      about you as described in this Privacy Policy.
      </p>

      <h2>HOW WE PROTECT YOUR INFORMATION</h2>
      <p>
      VoteSwap is concerned with protecting your privacy and data, which is
      why we follow industry best practices and force all access to the
      VoteSwap service to occur over an encrypted connection. In addition, the
      database we use, and any backups we maintain, are encrypted (see
      https://cloud.google.com/sql/faq#encryption for details). However, we
      cannot ensure or warrant the security of any information you transmit to
      VoteSwap or guarantee that your information on the Service may not be
      accessed, disclosed, altered, or destroyed by breach of any of our
      industry standard physical, technical, or managerial safeguards.
      </p>

      <h2>COMPROMISE OF PERSONAL INFORMATION</h2>
      <p>
      In the event that personal information is compromised as a result of a
      breach of security, VoteSwap will promptly notify those persons whose
      personal information has been compromised, in accordance with the
      notification procedures set forth in this Privacy Policy, or as otherwise
      required by applicable law.
      </p>

      <h2>YOUR CHOICES ABOUT YOUR INFORMATION</h2>
      <p>
      You can contact us directly at support@voteswap.us to review and
      correct the information about you that VoteSwap keeps on file.
      </p>

      <h2>CHILDREN'S PRIVACY</h2>
      <p>
      Protecting the privacy of young children is especially important to us.
      For that reason, VoteSwap does not knowingly collect or solicit personal
      information from anyone under the age of 13. If you are under 13, please
      do not send any information about yourself to us, including your name,
      address, telephone number, or email address. No one under age 13 is
      allowed to access or use the Service or to provide any personal
      information to VoteSwap. In the event that we learn that we have
      collected personal information from a child under age 13 without
      verification of parental consent, we will delete that information as
      quickly as possible. If you believe that we might have any information
      from or about a child under 13, please contact us at
      support@voteswap.us.
      </p>

      <h2>NOTIFICATION PROCEDURES</h2>
      <p>
      It is our policy to provide notifications, whether such notifications are
      required by law or are for marketing or other business related purposes,
      to you via email notice, written or hard copy notice, or through
      conspicuous posting of such notice on the Service, as determined by
      VoteSwap in its sole discretion. We reserve the right to determine the
      form and means of providing notifications to you, provided that you may
      opt out of certain means of notification as described in this Privacy
      Policy.
      </p>

      <h2>LINKS TO OTHER WEB SITES</h2>
      <p>
      We are not responsible for the practices employed by websites or services
      linked to or from the Service, including the information or content
      contained therein. Please remember that when you use a link to go from
      the Service to another website, our Privacy Policy does not apply to
      third-party websites or services. Your browsing and interaction on any
      third-party website or service, including those that have a link or
      advertisement on our website, are subject to that third party’s own rules
      and policies.
      </p>

      <h2>CALIFORNIA PRIVACY RIGHTS</h2>
      <p>
      Users who are California residents may request and obtain from us once a
      year, free of charge, certain information about the personally
      identifiable information (if any) we disclosed to third parties for
      direct marketing purposes in the preceding calendar year. If applicable,
      this information would include a list of the categories of personally
      identifiable information that was shared and the names and addresses of
      all third parties with which we shared information in the immediately
      preceding calendar year. If you are a California resident and would like
      to make such a request, please submit your request in writing to
      support@voteswap.us.
      </p>

      <h2>CHANGES TO OUR PRIVACY POLICY</h2>
      <p>
      If we change our privacy policies and procedures materially, we will post
      those changes on the Service to keep you aware of what information we
      collect, how we use it and under what circumstances we may disclose it.
      Changes to this Privacy Policy are effective when they are posted on this
      page. When we change the policy in a material manner we will let you know
      and by updating the 'effective date' at the top of this page.
      </p>
    </div>
  </div>
</div>
{% endblock %}
