{% extends 'base.html' %}
{% load bootstrap3 %}

{% block main %}
<div class="container-full">
  <div class="row">
    <div class="col-md-6 join-now col-md-offset-3">
      <h1>Sign up to swap your vote</h1>
      <form class="form" method="POST" action="{% url "landing_page" %}">
        {% csrf_token %}
        {% bootstrap_form form size='large' %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-social btn-facebook btn-lg">
            <span class="fa fa-facebook"></span> Join with Facebook
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
