{% extends 'base.html' %}

{% block main %}
<div class="not-fullscreen">
  <div class="row">
    <div class="col-sm-12">
      <h1>Terms of Service Agreement</h1>
      <h3>Effective Date: Oct 3, 2016</h3>

      <p>
      The website voteswap.us is the website and online service of
      VoteSwap, Inc. ("VoteSwap," "we," or "us"). This Terms of
      Service Agreement (this “Agreement”) explains the terms by which you may
      use our online services, web site, mobile applications and/or software
      provided on or in connection with such services (collectively the
      "Service").
      </p>

      <p>
      BY ACCESSING OR USING THE SERVICE YOU ARE INDICATING THAT YOU HAVE
      READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS AGREEMENT, WHETHER OR NOT
      YOU ARE A REGISTERED USER OF THE SERVICE.  IF YOU DO NOT AGREE TO THE
      TERMS AND CONDITIONS OF THIS AGREEMENT, THEN YOU HAVE NO RIGHT TO ACCESS
      OR USE THE SERVICE. If you accept or agree to the terms and conditions of
      this Agreement on behalf of a company or other legal entity, you
      represent and warrant that you have the authority to bind that company or
      other legal entity to this Agreement and, in such event, “you” and “your”
      will refer and apply to that company or other legal entity.
      </p>

      <p>
      We reserve the right to amend this Agreement at any time by notifying
      you as provided in this Agreement, provided that no notice shall be
      required for non-substantive changes to the Agreement. If we
      substantively amend this Agreement, we will give you at least seven (7)
      days notice before the changes take effect, during which period of time
      you may reject the changes by terminating your account. Your continued
      use of the Service after any such change constitutes your acceptance of
      the new Terms of Service. If you do not agree to any of these terms or
      any future Terms of Service, do not use or access (or continue to access)
      the Service. This Agreement applies to all visitors, users, and others
      who access the Service ("Users").
      </p>

      <h2>1. Use of Our Service</h2>

      <p>
      VoteSwap provides a service for connecting users in order to swap votes.
      </p>

      <h3>A. Eligibility</h3>

      <p>
      You may use the Service only in compliance with this Agreement and all
      applicable local, state, national, and international laws, rules and
      regulations. Any use or access to the Service by anyone under 13 is
      strictly prohibited and in violation of this Agreement. The Service is
      not available to any Users previously removed from the Service by
      VoteSwap.
      </p>

      <h3>B. Member Accounts</h3>

      <p>
      You will need to arrange with VoteSwap and obtain access to a
      "Member" account. Your Member account gives you access to the services
      and functionality that we may establish and maintain from time to time
      and in our sole discretion.
      </p>

      <p>
      You may never use another Member's account without our permission. You
      are solely responsible for the activity that occurs on your account, and
      you must keep your account password secure. We encourage you to use
      "strong" passwords (passwords that use a combination of upper and lower
      case letters, numbers and symbols) with your account. You must notify
      VoteSwap immediately of any breach of security or unauthorized use
      of your account. VoteSwap will not be liable for any losses caused
      by any unauthorized use of your account.
      </p>

      <p>
      By providing VoteSwap your email address you consent to our using
      your email address to send you Service-related notices, including any
      notices required by law, in lieu of communication by postal mail. We may
      also use your email address to send you other messages, such as changes
      to features of the Service and special offers. 
      <!-- TODO: enable opt-out links then add this to the TOS
      If you do not want to
      receive such email messages, you may opt out in the email message. Opting
      out may prevent you from receiving email messages regarding updates,
      improvements, or offers.-->
      </p>

      <h3>C. Service Rules</h3>

      <p>
      You agree not to engage in any of the following prohibited activities:
      (i) copying, distributing, or disclosing any part of the Service in any
      medium, including without limitation by any automated or non-automated
      "scraping"; (ii) using any automated system, including without limitation
      "robots," "spiders," "offline readers," etc., to access the Service in a
      manner that sends more request messages to the VoteSwap servers than
      a human can reasonably produce in the same period of time by using a
      conventional online web browser; (iii) transmitting spam, chain letters,
      or other unsolicited email; (iv) attempting to interfere with, compromise
      the system integrity or security or decipher any transmissions to or from
      the servers running the Service; (v) taking any action that imposes, or
      may impose at our sole discretion an unreasonable or disproportionately
      large load on our infrastructure; (vi) uploading invalid data, viruses,
      worms, or other software agents through the Service; (vii) collecting or
      harvesting any personally identifiable information, including account
      names, from the Service; (viii) using the Service for any commercial
      solicitation purposes; (ix) impersonating another person or otherwise
      misrepresenting your affiliation with a person or entity, conducting
      fraud, hiding or attempting to hide your identity; (x) defaming, abusing,
      harassing, stalking, threatening or otherwise violating the legal rights
      (such as of privacy and publicity) of any other use of the Service or
      staff member of VoteSwap; (xi) interfering with the proper working
      of the Service; (xii) accessing any content on the Service through any
      technology or means other than those provided or authorized by the
      Service; attempting to decipher, decompile, disassemble or reverse
      engineer any of the software used to provide the Service; (xiii)
      bypassing the measures we may use to prevent or restrict access to the
      Service, including without limitation features that prevent or restrict
      use or copying of any content or enforce limitations on use of the
      Service or the content therein; or (xiv) encouraging or enabling any
      other individual to do any of the foregoing.
      </p>

      <p>
      We may, without prior notice, change the Service; stop providing the
      Service or features of the Service, to you or to users generally; or
      create usage limits for the Service. We may permanently or temporarily
      terminate or suspend your access to the Service without notice and
      liability for any reason, including if in our sole determination you
      violate any provision of this Agreement, or for no reason. Upon
      termination for any reason or no reason, you continue to be bound by this
      Agreement.
      </p>

      <h3>D. Privacy</h3>

      See VoteSwap’s Privacy Policy at
      <a href="{% url 'privacy' %}">https://www.voteswap.us/{% url 'privacy' %}</a>
      for information and notices concerning VoteSwap’s collection and use
      of your personal information.

      <h2>2. License Grant</h2>

      <p>
      Subject to the terms and conditions of this Agreement, you are hereby
      granted a non-exclusive, limited, non-transferable, freely revocable,
      license to use the Service. VoteSwap reserves all rights not
      expressly granted herein in the Service and the VoteSwap Content (as
      defined below). VoteSwap may terminate this license at any time for
      any reason or no reason.
      </p>

      <h2>3. Our Proprietary Rights</h2>

      <p>
      The Service and all materials therein or transferred thereby,
      including, without limitation, software, images, text, graphics,
      illustrations, logos, patents, trademarks, service marks, and copyrights
      (the "VoteSwap Content"), and all Intellectual Property Rights (as
      defined below) related thereto, are the exclusive property of
      VoteSwap or, as applicable, its licensors. Except as explicitly
      provided herein, nothing in this Agreement shall be deemed to create a
      license in or under any such Intellectual Property Rights, and you agree
      not to sell, license, rent, modify, distribute, copy, reproduce,
      transmit, publicly display, publicly perform, publish, adapt, edit or
      create derivative works from any materials or content accessible on the
      Service. Use of the VoteSwap Content or materials on the Service for
      any purpose not expressly permitted by this Agreement is strictly
      prohibited.
      </p>

      <p>
      For the purposes of this Agreement, "Intellectual Property Rights"
      means all patent rights, copyright rights, mask work rights, moral
      rights, rights of publicity, trademark, trade dress and service mark
      rights, goodwill, trade secret rights and other intellectual property
      rights as may now exist or hereafter come into existence, and all
      applications therefore and registrations, renewals and extensions
      thereof, under the laws of any state, country, territory or other
      jurisdiction.
      </p>

      <p>
      You may choose to or we may invite you to submit comments or ideas
      about the Service, including without limitation about how to improve the
      Service or our products ("Ideas"). By submitting any Idea, you agree that
      your disclosure is gratuitous, unsolicited and without restriction and
      will not place VoteSwap under any fiduciary or other obligation, and
      that we are free to use the Idea without any additional compensation to
      you, and/or to disclose the Idea on a non-confidential basis or otherwise
      to anyone. You further acknowledge that, by acceptance of your
      submission, VoteSwap does not waive any rights to use similar or
      related ideas previously known to VoteSwap, or developed by its
      employees, or obtained from sources other than you.
      </p>

      <h2>4. Security</h2>

      <p>
      We have implemented commercially reasonable technical and
      organizational measures designed to secure your information from
      accidental loss and from unauthorized access, use, alteration or
      disclosure. However, we cannot guarantee that unauthorized third parties
      will never be able to defeat those measures or use your information for
      improper purposes.
      </p>

      <h2>5. Indemnity</h2>

      <p>
      You agree to defend, indemnify and hold harmless VoteSwap and its
      subsidiaries, agents, licensors, managers, and other affiliated
      companies, and their employees, contractors, agents, officers and
      directors, from and against any and all claims, damages, obligations,
      losses, liabilities, costs or debt, and expenses (including but not
      limited to attorney's fees) arising from: (i) your use of and access to
      the Service, including any data or content transmitted or received by
      you; (ii) your violation of any term of this Agreement, including without
      limitation your breach of any of the representations and warranties
      above; (iii) your violation of any third-party right, including without
      limitation any right of privacy, publicity rights or Intellectual
      Property Rights; (iv) your violation of any law, rule or regulation of
      the United States or any other country; (v) any other party's access and
      use of the Service with your unique username, password or other
      appropriate security code; or (vi) your disclosure of any end user or
      consumer information as described in Section 6 above.
      </p>

      <h2>6. No Warranty</h2>

      <p>
      THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. USE OF
      THE SERVICE IS AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY
      APPLICABLE LAW, THE SERVICE IS PROVIDED WITHOUT WARRANTIES OF ANY KIND,
      WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED
      WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
      NON-INFRINGEMENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN,
      OBTAINED BY YOU FROM VOTESWAP OR THROUGH THE SERVICE WILL CREATE ANY
      WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING THE FOREGOING,
      VOTESWAP, ITS SUBSIDIARIES, AND ITS LICENSORS DO NOT WARRANT THAT
      THE CONTENT IS ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE WILL MEET
      YOUR REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR
      TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS
      WILL BE CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER
      HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH
      THE USE OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE
      SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA
      THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE SERVICE.
      </p>

      <p>
      VOTESWAP DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME
      RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A
      THIRD PARTY THROUGH THE VOTESWAP SERVICE OR ANY HYPERLINKED WEBSITE
      OR SERVICE, AND VOTESWAP WILL NOT BE A PARTY TO OR IN ANY WAY
      MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS
      OR SERVICES.
      </p>

      <h2>7. Limitation of Liability</h2>

      <p>
      TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL
      VOTESWAP, ITS AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS OR
      LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL,
      SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION
      DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE
      LOSSES, THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THIS SERVICE.
      UNDER NO CIRCUMSTANCES WILL VOTESWAP BE RESPONSIBLE FOR ANY DAMAGE,
      LOSS OR INJURY RESULTING FROM HACKING, TAMPERING OR OTHER UNAUTHORIZED
      ACCESS OR USE OF THE SERVICE OR YOUR ACCOUNT OR THE INFORMATION CONTAINED
      THEREIN.
      </p>

      <p>
      TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, VOTESWAP
      ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR
      INACCURACIES OF CONTENT; (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY
      NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF OUR SERVICE;
      (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY
      AND ALL PERSONAL INFORMATION STORED THEREIN; (IV) ANY INTERRUPTION OR
      CESSATION OF TRANSMISSION TO OR FROM THE SERVICE; (V) ANY BUGS, VIRUSES,
      TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH OUR
      SERVICE BY ANY THIRD PARTY; AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY
      CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT OF THE USE OF ANY
      CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH
      THE SERVICE. IN NO EVENT SHALL VOTESWAP, ITS AFFILIATES, AGENTS,
      DIRECTORS, EMPLOYEES, SUPPLIERS, OR LICENSORS BE LIABLE TO YOU FOR ANY
      CLAIMS, PROCEEDINGS, LIABILITIES, OBLIGATIONS, DAMAGES, LOSSES OR COSTS
      IN AN AMOUNT EXCEEDING THE AMOUNT YOU PAID TO VOTESWAP
      HEREUNDER.
      </p>

      <p>
      THIS LIMITATION OF LIABILITY SECTION APPLIES WHETHER THE ALLEGED
      LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR
      ANY OTHER BASIS, EVEN IF VOTESWAP HAS BEEN ADVISED OF THE
      POSSIBILITY OF SUCH DAMAGE. THE FOREGOING LIMITATION OF LIABILITY SHALL
      APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE
      JURISDICTION.
      </p>

      <p>
      The Service is controlled and operated from its facilities in the
      United States. VoteSwap makes no representations that the Service is
      appropriate or available for use in other locations. Those who access or
      use the Service from other jurisdictions do so at their own volition and
      are entirely responsible for compliance with all applicable United States
      and local laws and regulations, including but not limited to export and
      import regulations. You may not use the Service if you are a resident of
      a country embargoed by the United States, or are a foreign person or
      entity blocked or denied by the United States government. Unless
      otherwise explicitly stated, all materials found on the Service are
      solely directed to individuals, companies, or other entities located in
      the United States.
      </p>

      <h2>8. Assignment</h2>

      <p>
      This Agreement, and any rights and licenses granted hereunder, may not
      be transferred or assigned by you, but may be assigned by VoteSwap
      without restriction.
      </p>

      <h2>9. General</h2>

      <p>
      <strong>A. Governing Law.</strong> You agree that: (i) the Service
      shall be deemed based solely in California; and (ii) the Service shall be
      deemed a passive one that does not give rise to personal jurisdiction
      over VoteSwap, either specific or general, in jurisdictions other
      than California. This Agreement shall be governed by the internal
      substantive laws of the State of California, without respect to its
      conflict of laws principles. The application of the United Nations
      Convention on Contracts for the International Sale of Goods is expressly
      excluded. Any claim or dispute between you and VoteSwap that arises
      in whole or in part from the Service shall be decided exclusively by a
      court of competent jurisdiction located in San Francisco County,
      California, unless submitted to arbitration as set forth in the following
      paragraph.
      </p>

      <p>
      <strong>B. Arbitration.</strong> For any claim (excluding claims for
      injunctive or other equitable relief) under this Agreement, the party
      requesting relief may elect to resolve the dispute through binding
      non-appearance-based arbitration. The party electing such arbitration
      shall initiate the arbitration through an established alternative dispute
      resolution ("ADR") provider mutually agreed upon by the parties. The ADR
      provider and the parties must comply with the following rules: a) the
      arbitration shall be conducted by telephone, online and/or be solely
      based on written submissions, as selected by the party initiating the
      arbitration; b) the arbitration shall not involve any personal appearance
      by the parties or witnesses unless otherwise mutually agreed by the
      parties; and c) any judgment on the award rendered by the arbitrator may
      be entered in any court of competent jurisdiction.
      </p>

      <p>
      <strong>C. Notification Procedures.</strong> VoteSwap may provide
      notifications, whether such notifications are required by law or are for
      marketing or other business related purposes, to you via email notice,
      written or hard copy notice, or through conspicuous posting of such
      notice on our website, as determined by VoteSwap in our sole
      discretion. VoteSwap reserves the right to determine the form and
      means of providing notifications to our Users, provided that you may opt
      out of certain means of notification as described in this Agreement.
      VoteSwap is not responsible for any automatic filtering you or your
      network provider may apply to email notifications we send to the email
      address you provide us. We recommend that you add 
      <a href="mailto:info@voteswap.us">info@voteswap.us</a> to your email
      address book to help ensure you receive email notifications
      from us.
      </p>

      <p>
      <strong>D. Entire Agreement/Severability.</strong> This Agreement,
      together with any amendments and any additional agreements you may enter
      into with VoteSwap in connection with the Service, shall constitute
      the entire agreement between you and VoteSwap concerning the
      Service. If any provision of this Agreement is deemed invalid by a court
      of competent jurisdiction, the invalidity of such provision shall not
      affect the validity of the remaining provisions of this Agreement, which
      shall remain in full force and effect.
      </p>

      <p>
      <strong>E. No Waiver.</strong> No waiver of any term of this Agreement
      shall be deemed a further or continuing waiver of such term or any other
      term, and VoteSwap's failure to assert any right or provision under
      this Agreement shall not constitute a waiver of such right or
      provision.
      </p>
    </div>
  </div>
</div>
{% endblock %}
