{% load state_fb_search %}
{% load state_face %}
<div class="col-md-8 col-md-offset-2">
  <h1 class='clearfix'>Share with your friends</h1>
  <div class="pull-left" style="padding: 10px;">
    <span class="stateface" style="font-size:5em">{{ profile.state|stateface }}</span>
  </div>
  <p>
    Hello, {{ profile.fb_name }}. You're a {{ profile.preferred_candidate }} voter in {{ profile.state }}, a {{ profile_context.state_type }}.
  </p>
  {% if profile_context.needs_match %}
  <p>
    {% if profile_context.kingmaker %}
      Voting for {{ profile.preferred_candidate }} in {{ profile.state }} is
      extremely dangerous.  You'll take votes away from Hillary Clinton and let
      Trump win the presidency.
    {% endif %}
    You should swap your vote with
    {{ profile_context.paired_candidate }} voters in
    {{ profile_context.paired_state_type }} states.
  </p>
  {% else %}
    {% if profile_context.third_party %}
    <p>You don't have any good pairings. Go ahead and vote for {{ profile.preferred_candidate }}.</p>
    {% else %}
    <p>
      Your vote <b>is extremely important</b>, so you <b>shouldn't swap</b>.
      Be sure to vote for {{ profile.preferred_candidate }} on election day,
      November 8th!
    </p>
    {% endif %}
  {% endif %}
    <p class='calltoaction-unpaired'>
      {% with num_friends=profile.friends.count %}
      {% if not num_friends %}
      Sadly, <b>*none* of your friends</b>
      {% else %}
      Only <b>{{ num_friends }} of your friends</b>
      {% endif %} have joined VoteSwap.
      {% endwith %}
      VoteSwap can only connect you to your facebook friends and
      friends-of-friends, but not enough of your friends have signed up
      for us to find a great match for you.
    </p>
    <p>
      Since you live in a {{ profile_context.state_type }}, your best strategy
      is to <b>share VoteSwap with your friends in {{ profile_context.paired_state_type }} states</b>.
      Sharing VoteSwap on facebook will reach the most people, but sending
      direct messages to your friends in {{ profile_context.paired_state_type }} 
      states is probably more effective.
    </p>
    <p>
      {% if not profile_context.state.is_swing %}
      Find frends in swing states like 
      {% for state in swing_states %}{% if not forloop.first %}, {% if forloop.last %} or {% endif %}{% endif %}<a href="{{ state|fb_link }}">{{ state }}</a>{% endfor %}
      {% else %}
      Find friends in safe states like
      {% for state in safe_states %}{% if not forloop.first %}, {% if forloop.last %} or {% endif %}{% endif %}<a href="{{ state|fb_link }}">{{ state }}</a>{% endfor %}
      {% endif %}
      and post VoteSwap on their walls or send them a Facebook message.
    </p>
    <p>
      <a class="fb-send-btn btn btn-primary btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Share via Facebook message
      </a>
      <a class="fb-feed-btn btn btn-primary btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Share on facebook
      </a>
    </p>
</div>
