{% extends 'base.html' %}

{% block main %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
    Hello, {{ profile.fb_name }}.
    {% if profile.preferred_candidate and profile.state %}
    You're a {{ profile.preferred_candidate }} voter in {{ profile.state }}.
    {% else %}
    We're missing some information from you, please
    <a href="{% url "users:update_profile" %}">Update your profile</a>.
    {% endif %}
  </div>
</div>

<!--
{% for fm_ctx in profile_context.good_potential_matches %}
<div class="col-sm-4 swap-option js-swap-option {% if fm_ctx.has_been_proposed_to %}proposed{% endif %}">
    <div class="clearfix">
      <div class="pull-left">
        <img src="https://graph.facebook.com/v2.7/{{ profile.fb_id }}/picture?type=normal" />
      </div>
      <div class="pull-left">
        <h2>{{ fm_ctx.name }}{% if not fm_ctx.friend_match.is_direct %} (via {{ fm_ctx.friend_match.through.user.get_full_name }}){% endif %}</h2>
      </div>
    </div>
    <div class="proposed-content">
      You have proposed to this friend.
    </div>
    <div class="not-proposed-content">
      <p>{{ fm_ctx.proposal_string }}</p>
      <button type="button" class="btn btn-primary js-propose-swap" data-profile-id="{{fm_ctx.friend_match.profile.id}}" data-name="{{ fm_ctx.name }}">Swap with {{ fm_ctx.name }}</button>
    </div>
  </div>
</div>
{% endfor %}
-->

<div class="row">
{% for fm_ctx in profile_context.good_potential_matches %}
<div class="col-sm-9 col-md-6 swap-option js-swap-option {% if fm_ctx.has_been_proposed_to %}proposed{% endif %}">
  <div class="well match clearfix">
    <div class="match-image col-sm-6 text-center">
      <img class="match img-responsive pull-center"
           src="https://graph.facebook.com/v2.7/{{ profile.fb_id }}/picture?type=large"
           alt="{{ fm_ctx.name }}'s image"/>
      <h2>{{ fm_ctx.name }}</h2>
      {% if not fm_ctx.friend_match.is_direct %}<h3>via {{ fm_ctx.friend_match.through.user.get_full_name }}</h3>{% endif %}
    </div>
    <div class="col-md-6 match-info">
      <div class="proposed-content">
        <p>You have proposed to this {{ fm_ctx.friend_match.profile.fb_name }}.</p>
        <a role="button" class="btn btn-info btn-lg">Message</a>
      </div>
      <div class="not-proposed-content">
        <p>{{ fm_ctx.proposal_string }}</p>
        <button type="button" class="btn btn-success btn-lg js-propose-swap" data-profile-id="{{fm_ctx.friend_match.profile.id}}" data-name="{{ fm_ctx.name }}">Swap</button>
        <a role="button" class="btn btn-info btn-lg">Message</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
