{% extends 'base.html' %}
{% load staticfiles %}

{% block extracss %}
<link href="{% static 'jquery-confirm.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script src="{% static 'jquery-confirm.min.js' %}"></script>
{% endblock %}

{% load state_face %}

{% block main %}

<div class="not-fullscreen">
  {% if not user.email %}
    <div class="row">
      <div class="col-sm-12 alert alert-danger text-center" role="alert">
        <p>Please <a class='btn btn-primary' role='button' href="{%url "users:update_profile" %}">update your email</a>
        so we can send you match notifications and a reminder to vote on
        Tuesday, November 8th.</p>
      </div>
    </div>
  {% endif %}
  {% include "users/_sidebar.html" %}

  {% if profile.paired_with %}
    {% include "users/_paired_profile.html" %}
  {% else %}
    {% include "users/_unpaired_profile.html" %}
  {% endif %}
</div> <!-- /not-fullscreen -->
{% endblock %}

