<html>
  <body>
    <h2>Hi, {{ to_profile_ctx.profile.fb_name }}</h2>

    <p>
      We're writing to let you know that {{ from_profile_ctx.profile.fb_name }}
      just paired with you on VoteSwap.
    </p>
    <p>
      They're a {{ from_profile_ctx.profile.preferred_candidate }} voter in
      {{from_profile_ctx.profile.state }}, a {{ from_profile_ctx.state_type }}.
    </p>
    <p>
      You're a good match because you want to vote for
      {{ to_profile_ctx.profile.preferred_candidate }} in
      {{ to_profile_ctx.profile.state }}, a {{ to_profile_ctx.state_type }}.
    </p>
    {% if to_profile_ctx.kingmaker %}<p>
      Voting for Gary Johnson in {{ profile.state }} is extremely dangerous.
      You'll take votes away from Hillary Clinton and let Trump win the
      presidency.
    </p>{% endif %}
    <p>
      Trump is an unstable, racist, xenophobic, little dictator that can't be
      allowed to win.
    </p>
    <p>
      Go to <a href="https://voteswap.us/users/profile">https://voteswap.us/users/profile</a>
      to confirm or reject the swap.
    </p>
  </body>
</html>
