{% extends 'base.html' %}
{% load staticfiles %}
{% load state_fb_search %}

{% block main %}

<div class="not-fullscreen">
  {% include "users/_need_email.html" %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2"> <!-- share -->
      <h2 class='clearfix'>Share with your friends</h2>
      <p class='calltoaction-unpaired'>
        {% with num_friends=profile.friends.count %}
        {% if not num_friends %}
        Sadly, <b>*none* of your friends</b>
        {% else %}
        Only <b>{{ num_friends }} of your friends</b>
        {% endif %} have joined VoteSwap.
        {% endwith %}
        VoteSwap can only connect you to your Facebook friends and
        friends-of-friends, so the more friends you get to join the better chance
        we have of defeating Trump.
      </p>
      <p>
        Since you live in a {{ profile_context.state_type }}, your best strategy
        is to <b>share VoteSwap with your friends in {{ profile_context.paired_state_type }} states</b>.
        Sharing VoteSwap on Facebook will reach the most people, but sending
        direct messages to your friends in {{ profile_context.paired_state_type }} 
        states is probably more effective. Here are some suggested messages.
      </p>
      <h3>Swing States</h3>
      <p>
        To your friends in swing states:
          <blockquote>
            You live in an important swing state, where third parties might split
            the vote and make Trump win (remember Al Gore?). If you want a third
            party candidate to get votes while making sure Trump loses,
            join <a href="https://voteswap.us">https://voteswap.us</a>
            VoteSwap pairs up swing-state and safe-state voters so they
            can swap votes. Clinton will win the swing states, third parties get
            more votes (and more federal funding), and Trump loses. Even if
            you're already voting for Clinton, the more people that join the
            better our chances are of pairing up voters and saving our country
            from Trump.
          </blockquote>
      </p>
      <p>
        Share with your frends in swing states:
        {% for state in swing_states %}{% if not forloop.first %}, {% if forloop.last %} or {% endif %}{% endif %}<a target="_blank" href="{{ state|fb_link }}">{{ state }}</a>{% endfor %}.
      </p>
      <h3>Safe States</h3>
      <p>
        To your friends in safe states:
        {% if profile_context.is_3p_in_swing %}
          <blockquote>
            I want to vote for a third party in {{ profile.state }}, but I also
            don't want Trump to win. You should join
            <a href="https://voteswap.us">https://voteswap.us</a> and swap votes
            with me. I'll vote Clinton in {{ profile.state }} if you vote
            {{ profile.preferred_candidate }} in your state.
          </blockquote>
        {% else %}
          <blockquote>
            Do you want to prevent Trump from winning but also think third
            parties should be a viable choice? Join
            <a href="https://voteswap.us">https://voteswap.us</a> and swap your
            Clinton vote in your safe state with a third-party voter in a swing
            state. Third parties will get more votes, and Clinton will win the
            important swing states so Trump will lose.
          </blockquote>
        {% endif %}
      </p>
      <p>
        Share with your friends in safe states like
        {% for state in safe_states %}{% if not forloop.first %}, {% if forloop.last %} or {% endif %}{% endif %}<a target="_blank" href="{{ state|fb_link }}">{{ state }}</a>{% endfor %}.
      </p>
      <p>
        <a class="fb-send-btn btn btn-primary btn-social btn-facebook">
          <span class="fa fa-facebook"></span> Send a Facebook message
        </a>
        <!-- TODO: Put this at the bottom for a follow-up after sending -->
        <a class="fb-feed-btn btn btn-primary btn-social btn-facebook">
          <span class="fa fa-facebook"></span> Share on Facebook
        </a>
      </p>
    </div> <!-- /share -->
  </div> <!-- /row -->
</div> <!-- /not-fullscreen -->
{% endblock %}
